{# @var craft \craft\web\twig\variables\CraftVariable #}
{%- minify -%}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}

<!DOCTYPE html>
{%- endminify -%}

<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

	{%- minify -%}
	<head>
		<link rel="dns-prefetch" href="{{ baseUrl }}">
		<link rel="preconnect" href="{{ baseUrl }}" crossorigin>

		{# -- Any <link> tags that should be included in the header #}
		{% block _head_links %}{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		{# {
			# -- Register our Service Worker -- #
		} #}
		<script>
		{% if not craft.app.config.general.devMode %}
			{{ source("_inlinejs/register-service-worker.min.js") }}
		{% endif %}
		{{ source("_inlinejs/tiny-cookie.min.js") }}
		</script>



		{# {% import "_partials/_macros.twig" as macro %} #}
		{% include "_partials/_global_header.twig" %}

		{%- endminify -%}

		{# FONTS #}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Lexend:wght@100;500&display=swap" rel="stylesheet">


		{# -- CSS -- #}
		<style>
			{% include "_inlinecss/site-fonts.css" %}
		</style>

		<!--#if expr="$HTTP_COOKIE=/critical\-css\=1/"-->
			{{ craft.twigpack.includeCssModule("styles.css", false) }}
		<!--#else-->
			<script>
				Cookie.set("critical-css", '1', {
					expires: "7D",
					secure: true
				});
			</script>
			{{ craft.twigpack.includeCriticalCssTags() }}

			{{ craft.twigpack.includeCssModule("styles.css", true) }}
		<!--#endif-->
		
		{# -- 
			----- JS 
		-- #}
		{% block _head_js %}{% endblock %}

		{# MODEL VIEWER #}
		<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

		{# COOKIE POLICY #}
		{# TODO: SEO #}
		{# if: seomatic #}
		{# {% do seomatic.script.container().clearCache(true) %}
		{% do seomatic.script.get("googleAnalytics").include(true) %}
		{% do seomatic.script.get('facebookPixel').include(true) %}
		{% do seomatic.script.get('gtag').include(true) %}
		{% do seomatic.script.get('googleTagManager').include(true) %}
		{% do seomatic.script.container().clearCache(true) %} #}
		{# else: #}
		<meta charset="UTF-8">
		<title>Gillian Vandewyer portfolio</title>

		<meta http-equiv="refresh" content="30">
		<meta name="author" content="Gillian Vandewyer">
		<meta name="description" content="">
		<meta name="keywords" content="html meta tags, web development, learn web development, front end development"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex,nofollow">

		<meta property="og:title" content="Gillian Vandewyer portfolio"/>
		<meta property="og:description" content=""/>
		<meta property="og:type" content=""/>
		<meta property="article:tag" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content="https://gillianvandewyer.com"/>
	</head>

	{# -- HTML Body -- #}
	<body data-barba="wrapper">
		<div class="overlay-slide"></div>
		<div id="page-container">
			<div id="fb-root"></div>
			<div id="app">
				<main>
					{% block content %}{% endblock %}
				</main>
			</div>
		</div>
		{%- minify -%}
		{{ craft.twigpack.includeSafariNomoduleFix() }}
		{{ craft.twigpack.includeJsModule("app.js", false) }}
		{{ craft.twigpack.includeJsModule("styles.js", false) }}

		{% block _inline_js %}{% endblock %}
		{%- endminify -%}

	</body>
</html>