{# 
    //
    // HOME
    //
#}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
    <section data-barba="container" data-barba-namespace="home"  class="o-wrapper product-slider__container">
        <div id="nav">
            <div id="prevtBtn">prev</div>
            <div id="nextBtn">next</div>
        </div>
        <div id="Dots"></div>

        <div class="product-slider__slide">
            <div class="product-slider__slide__inner">
                <div class="product-slider__top">
                    <div class="product-slider__title_container">
                        <h1>SHIBUSHI 1</h1>
                        <p>a personal statement</p>
                    </div>
                    <div class="product-slider__3D_container">
                        {% set model = dFile.modelFile.one() %}
                        {% set modelPoster = dFile.	modelfileposter.one() %}
                        <model-viewer 
                            id="modelviewer"
                            class="product-slider__3D_model" 
                            src="{{model.url}}" 
                            alt="A 3D model of an astronaut" 
                            camera-controls
                            disable-zoom
                            data-js-focus-visible
                        ></model-viewer>
                        {# loading="eager"  #}
                        {# # poster="{{modelPoster.url}}" #}
                        {# reveal="interaction"  #}
                    </div>
                </div>
                <div class="product-slider__bottom">
                    <div class="product-slider__navigation">
                        <a class="c-btn c-btn--primary" href="/test" alt="">
                            Read more <span></span>
                        </a>
                        {# <ul>
                            <li>01</li>
                            <li>02</li>
                            <li>03</li>
                            <li>04</li>
                        </ul> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="product-slider__slide">
<div class="product-slider__slide__inner o-wrapper">

                <div class="product-slider__top">
                    <div class="product-slider__title_container">
                        <h1>SHIBUSHI 2</h1>
                        <p>a personal statement</p>
                    </div>
                    <div class="product-slider__3D_container">
                        {% set model = dFile.modelFile.one() %}
                        {% set modelPoster = dFile.	modelfileposter.one() %}
                        <model-viewer id="modelviewer" 
                            class="product-slider__3D_model" 
                            src="{{model.url}}" 
                            alt="A 3D model of an astronaut" 
                            camera-controls disable-zoom data-js-focus-visible 
                            poster="{{modelPoster.url}}"
                            reveal="interaction"
                            loading="eager"
                        ></model-viewer>
                    </div>
                </div>
                <div class="product-slider__bottom">
                    <div class="product-slider__navigation">
                        <a class="c-btn c-btn--primary" href="/test" alt="">
                            Read more
                            <span></span>
                        </a>
                        {# <ul>
                                                <li>01</li>
                                                <li>02</li>
                                                <li>03</li>
                                                <li>04</li>
                                            </ul> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="product-slider__slide">
            <div class="product-slider__slide__inner">
                <div class="product-slider__top">
                    <div class="product-slider__title_container">
                        <h1>SHIBUSHI 3</h1>
                        <p>a personal statement</p>
                    </div>
                    <div class="product-slider__3D_container">
                        {% set model = dFile.modelFile.one() %}
                        {% set modelPoster = dFile.	modelfileposter.one() %}
                        <model-viewer id="modelviewer" class="product-slider__3D_model" src="{{model.url}}" alt="A 3D model of an astronaut" camera-controls disable-zoom data-js-focus-visible poster="{{modelPoster.url}}"></model-viewer>
                        {# loading="eager"  #}
                        {# reveal="interaction"  #}
                    </div>
                </div>
                <div class="product-slider__bottom">
                    <div class="product-slider__navigation">
                        <a class="c-btn c-btn--primary" href="/test" alt="">
                            Read more
                            <span></span>
                        </a>
                        {# <ul>
                                                <li>01</li>
                                                <li>02</li>
                                                <li>03</li>
                                                <li>04</li>
                                            </ul> #}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about__container" id="about">
        <div class="about__innercontainer">
            <a class="c-btn c-btn--primary" id="about-close-button"  href="#" alt="">
                close<span></span>
            </a>
            <div class="about__content">
                <h2>about</h2>
                <p>I’m a  <strong>Belgian designer</strong> with roots in technology, arts and anything that has to do with making things. I love problem solving, photography, creative thinking, coffee, and many other stuff.</p>
                <p><strong>Unorthodox thinking</strong> is what takes me off the beaten tracktowards solutions and situations that develop into great things, memories, lessons or just a good story to tell at the proverbial campfire.</p></p>
            </div>
            <div class="about__contact">
                <h2>about</h2>
                <div class="about__contact-links">
                    <a class="c-btn text mail" href="mailto:Gillianvandewyer@hotmail.com" alt="Gillianvandewyer@hotmail.com">Gillianvandewyer@hotmail.com</a>
                    <div class="about__contact-socials">
                        <a class="c-btn text" href="mailto:Gillianvandewyer@hotmail.com" alt="Gillianvandewyer@hotmail.com">Linkedin</a>
                        <a class="c-btn text" href="mailto:Gillianvandewyer@hotmail.com" alt="Gillianvandewyer@hotmail.com">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
